*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.companyName{
    position:absolute;
    left: 66em;
    margin-top: 0.1em;
    
    
}
.companyName h1{
    font-size: 1.2em;
    padding-bottom: 0.2em;
}
.companyName p{
    font-size: 0.9em;
    color: rgb(106, 106, 106);
}
.heading{
    margin-left: 2em;
    margin-top: 2em;
}
.heading h1{
    font-size: 4.1em;
    padding-bottom: 0.3em;
    
}
.heading p{
    font-size: 1.5em;
}
.patientcards{
    width: 96%;
    font-size: 0.8em;
    font-family: Arial;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap:wrap;
    margin-bottom: 3em;
}
.patientsTypes{
    
    height: 270px;
    width: 150px;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin: 4em 2em;
    background-color: white;
    /* box-shadow: 10px 10px  rgb(233, 228, 228); */
}
#one{
    background-color: rgb(172, 184, 209);
    height: 1.3em;
    width: 1.7em;
    margin-left: 1.8em;
    padding: 0.1em;
    border-radius: 5px;
    font-size: 1.7em;
}
#two{
    background-color: rgb(193, 224, 236);
    height: 1.3em;
    width: 1.7em;
    margin-left: 1.8em;
    padding: 0.1em;
    border-radius: 5px;
    font-size: 1.7em;
}
#three{
    background-color: rgb(156, 237, 243);
    height: 1.3em;
    width: 1.7em;
    margin-left: 1.8em;
    padding: 0.1em;
    border-radius: 5px;
    font-size: 1.7em;
}
#four{
    background-color: rgb(142, 241, 220);
    height: 1.3em;
    width: 1.7em;
    margin-left: 1.8em;
    padding: 0.1em;
    border-radius: 5px;
    font-size: 1.7em;
}
#five{
    background-color: rgb(137, 243, 167);
    height: 1.3em;
    width: 1.7em;
    margin-left: 1.8em;
    padding: 0.1em;
    border-radius: 5px;
    font-size: 1.7em;
}
.container_patient{
    background-color: rgb(172, 184, 209);
    height: 20em;
    width: 15em;
    margin-top: 1em;
    border-radius: 5px;
    
}
.container_patient h1{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.container_patient p{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
#h1{
    margin-left: 1em;
    font-size: 1.3em;
}
.container_patien{
    background-color: rgb(193, 224, 236);
    height: 20em;
    width: 15em;
    margin-top: 1em;
    border-radius: 5px;
    
}
.container_patien h1{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.container_patien p{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.container_patie{
    background-color: rgb(156, 237, 243);
    height: 20em;
    width: 15em;
    margin-top: 1em;
    border-radius: 5px;
    
}
.container_patie h1{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.container_patie p{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.container_pati{
    background-color: rgb(142, 241, 220);
    height: 20em;
    width: 15em;
    margin-top: 1em;
    border-radius: 5px;
    
}
.container_pati h1{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.container_pati p{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
.container_pat{
    background-color: rgb(137, 243, 167);
    height: 20em;
    width: 15em;
    margin-top: 1em;
    border-radius: 5px;
    
}
.container_pat h1{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}
.container_pat p{
    padding-left: 0.8em;
    padding-right: 0.8em;
}
